<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <!--
    application.css is where you put your styles
  -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Spacknew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrapper">
  <header>
    <nav class='nav1'>
      <div class="nav_buttons"><a href='/'>Home</a></div>
      <div class="nav_buttons"><a href='/about'>About</a></div>
      <div class="nav_buttons"><a href='/team'>Team</a></div>
<!--     </nav>
  <nav class='nav2'> -->
    <!-- <div class="nav_buttons"><a href='/press'>Press</a></div> -->
    <div class="nav_buttons"><a href='/blog'>Social</a></div>
    <div class="nav_buttons"><a href='/shop'>Shop</a></div>
  </nav>
  <img id="spacklogo" src='images/spacklogo2.png'>
</header>
<div id="content">
<%= yield %>
</div>
<footer>
  <a href="#" target="_blank" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
  <a href="#" target="_blank" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
  <a href="#"  target="_blank" class="icon-button envelope"><i class="fa fa-envelope-o"></i><span></span></a>
  <a href="#" target="_blank" class="icon-button instagram"><i class="fa fa-instagram"></i><span></span></a>
  <a href="#" target="_blank" class="icon-button linkedin"><i class="fa fa-linkedin"></i><span></span></a>
</footer>
</div>
</body>
</html>
