body {
	background-repeat: no-repeat;
	background-size: 100%;
}



textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	z-index: 999;
	background-image: url('/images/background.jpg');
	height: 130px;
	font-family: Verdana;
	text-transform: uppercase;
}


th {
  text-align: left;
}


h3 {
 color:#ed145b;
}


#team_img {
	position:absolute;
	top:200px;
	left:-5px;
	width:25%;
	height:30%;
}

#about {
	padding:30px;
}


#logo_img {
	border-radius: 25px;
	margin-top: 40px;
	position: fixed;
    top: 60px;
    left: 5px;
}


.about_erb {
	width:700px;
	height:410px;
	padding:200px;
	position:relative;
	top:150px;
	opacity:0.4;
	font-family: Verdana;
	background-color: white;
	padding-bottom: 30px;
	border-color:black;
	position:relative;
	margin:auto;
	padding-top: 20px;
	padding-left:20px;
	padding-bottom:20px;
	color:black;
	font-family: 'Roboto', sans-serif;
}

p {
	color: black;
	width:870px;
	font-size:17px;
}


.shop_erb {
	position:relative;
	width:600px;
	height:50px;
	margin:auto;
	top:165px;
	background-color:white;
	opacity:0.2;
}


#video_logo {
	margin:0px;
	opacity:0.6;
	height: 338px;
	width:600px;
	position:relative;
	top:125px;
	border-radius:10px;
	display: block;
	-webkit-box-shadow: 0px 30px 30px rgba(100, 100, 100, 0.90);
	-moz-box-shadow: 0px 30px 30px rgba(100, 100, 100, 0.90);
	box-shadow: 0px 5px 20px rgba(100, 100, 100, 0.20);
	margin:auto;
	border:none;
}


a {
	text-decoration: none;
	color: white;
	font-family: myriad pro, arial, tahoma;
	font-size:30px;
}

#shop_list {
	text-decoration: none;
	padding:10px;
}


#shopamazon {
	width:230px;
	height:60px;
	position:relative;
	margin:auto;
	top:185px;
	left:40%;
	border-radius:25px;
	opacity:0.6;
}

nav {
	background-color: white;
	position: -webkit-sticky;  
    z-index: 1;  
	position:fixed;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	padding-top: 15px;
	padding-bottom: 15px;
	top:130px;
	width:100%;
}

.nav_buttons {
	position: relative;
	display: inline-block;
	padding-right: 4%;
	padding-left:4%;
}

/*.nav1{
	position:relative;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	top:20px;
	padding-left:10%;
}

.nav2{
	position:relative;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	top:20px;
	padding-right:10%;
}


.nav_buttons {
	position: relative;
	top:100px;
	float:left;
	display: inline-block;
	padding: 30px;
}*/

/*.nav_buttons2 {
	float:right;
	top:100px;
	position: relative;
	display: inline-block;
	padding: 30px;

}*/

a {
	color:black;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size:20px;
}

a:hover {
	color:#ec008c;
}

#spacklogo {
	position:fixed;
	left:40%;
	height:140px;
	width:250px;
	top:-5px;
}





