/*
 *= require font-awesome
 */

body {
	background-repeat: no-repeat;
	background-size: 100%;
}



textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%; 
	z-index: 999;
	background-image: url('/images/background.jpg');
	height: 130px;
	font-family: Verdana;
	text-transform: uppercase;
}


th {
  text-align: left;
}


h3 {
 color:#ed145b;
}

#about {
	padding:30px;
}



.about_erb {
	width:700px;
	height:410px;
	padding:200px;
	position:relative;
	top:150px;
	opacity:0.4;
	font-family: Verdana;
	background-color: white;
	padding-bottom: 30px;
	border-color:black;
	position:relative;
	margin:auto;
	padding-top: 20px;
	padding-left:20px;
	padding-bottom:20px;
	color:black;
	font-family: 'Roboto', sans-serif;
}

p {
	color: black;
	width:870px;
	font-size:17px;
}


.shop_erb {
	position:relative;
	width:600px;
	height:50px;
	margin:auto;
	top:165px;
	background-color:white;
	opacity:0.2;
}


#video_logo {
	margin:0px;
	opacity:0.6;
	height: 338px;
	width:600px;
	position:relative;
	top:125px;
	border-radius:10px;
	display: block;
	-webkit-box-shadow: 0px 30px 30px rgba(100, 100, 100, 0.90);
	-moz-box-shadow: 0px 30px 30px rgba(100, 100, 100, 0.90);
	box-shadow: 0px 5px 20px rgba(100, 100, 100, 0.20);
	margin:auto;
	border:none;
}




#shop_list {
	text-decoration: none;
	padding:10px;
}


#shopamazon {
	width:230px;
	height:60px;
	position:relative;
	margin:auto;
	top:185px;
	left:40%;
	border-radius:25px;
	opacity:0.6;
}

nav {
	background-color: white;
	position: -webkit-sticky;  
    z-index: 1;  
	position:absolute;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	padding-top: 15px;
	padding-bottom: 15px;
	top:130px;
	width:100%;
}

.nav_buttons {
	position: relative;
	display: inline-block;
	padding-right: 4%;
	padding-left:4%;
}

/*____________Line on Hover_______________*/

a {
	color:black;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size:20px;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ec008c;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover {
	color:#ec008c;
}

a:hover:after { 
  width: 50%; 
  left: 25%; 
}


/*___________________________*/



#spacklogo {
	position:absolute;
	left:40%;
	height:140px;
	width:250px;
	top:-5px;
}

.employees img {
	width:12%;
	height:18%;
	position:relative;
	top:300px;
	padding:1.5%;
	margin:2%;
	border-radius:10%;
	border: 2px solid black;
}

.employees {
	text-align:center;
	padding-bottom: 3em;
}

#marjul {
	text-align:center;
}

#marjul img {
	position:relative;
	top:200px;
	width:54%;
/*	border-radius:25%;*/
}

#mjinfo {
	font-family: 'Roboto', sans-serif;
	position:relative;
	top:200px;
	text-align:center;
	margin-top: 10px;
	margin-left:20%;
	margin-right:20%;
	font-size:1em;

}

footer{
	width: 100%;
	background-color: white;
	height: 3em;
	bottom: 0px;
	text-align: center;
	position:fixed;
}



/** Social Icons /**

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 4.0rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}


/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 4.0rem;
  margin: -1.3rem;
}


/* Icons */


#social {
	text-align: center;
	/*	padding-top: 20%;*/
	width: 100%;
	margin: 0 auto;
}
.icon-button i {
  background: none;
  color: black;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}




.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}

.instagram span {
	background-color: #517fa4;
}

.linkedin span {
	background-color: #007bb6;
}

.envelope span{
	background-color: #678fef
}




.icon-button .fa-twitter {
	color: black;
}
.icon-button .fa-facebook {
	color: black;
}
.icon-button .fa-tumblr {
	color: black;
}
.icon-button .fa-linkedin {
	color: black;
}
.icon-button .fa-instagram {
	color: black;
}
.icon-button .fa-youtube {
	color: black;
}
.icon-button .fa-pinterest {
	color: black;
}
.icon-button .fa-envelope-o {
	color: black;
}




.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-envelope-o,
.icon-button:hover .fa-linkedin {
	color: white;
}


@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }



