<div class="about_erb">
<h3 id="spack_head">S•PACK</h3>
<h4>for dirty girls</h4>

<p>We get it—you go out. You want to stay out till 3am dancing, clubbing, and bar-hopping or whatever. When you leave your house you look super hot. You spent time shopping for a new outfit, doing your makeup and perfecting your hair, and let’s be real: you look awesome. But by the end of the night—eh, not so much. You wake up looking like a cross between a zombie and a kid who just finished playing with her mom’s makeup.</p>

<p>That’s where we come in. Half the time you don’t even know where you will end up sleeping. So you spent all this time getting ready, all this money on hair products, makeup, clothing, waxes and nails, just to wake up looking not-so-hot next to the cute guy you hooked up with last night, or the hottie you’ve had your eye on for a while. To be honest, we can’t stand to see this any longer.</p>

<p>Pack a S•PACK. It’s small enough to fit in your going out bag and contains a mini-toothbrush, toothpaste, a makeup removing cleanser wipe, a deodorant cloth and a hairtie—all the essentials you dirty girls need to keep clean.</p>


</div>