<!--   <iframe id="video_logo" src="/videos/spackvidupdated.mp4"></iframe> -->

<div id="carousel">
<img src="/images/mar_jul.jpg" width="360" height="270">
<img src="/images/amazon.jpg" width="360" height="270">
<img src="/images/logo.jpg" width="360" height="270">
<img src="/images/back_product.jpg" width="360" height="270">
<img src="/images/front_product.jpg" width="360" height="270">
<img src="/images/pack.jpg" width="360" height="270">
<img src="/images/whiteamazon.jpg" width="360" height="270">
<img src="/images/background.jpg" width="360" height="270">
</div>